## Preprocessing

In [77]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [78]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_reduced_df = application_df[["APPLICATION_TYPE","AFFILIATION","CLASSIFICATION","USE_CASE","ORGANIZATION","STATUS","INCOME_AMT","SPECIAL_CONSIDERATIONS","ASK_AMT","IS_SUCCESSFUL"]]
application_reduced_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [79]:
# Determine the number of unique values in each column.
application_reduced_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [80]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_reduced_df["APPLICATION_TYPE"].value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [81]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = app_type_counts[app_type_counts < 500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [82]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_reduced_df["CLASSIFICATION"].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [83]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts[class_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [84]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_counts[class_counts < 1000].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [85]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_reduced_df)
dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [86]:
# Split our preprocessed data into our features and target arrays
y = dummies_df.IS_SUCCESSFUL.values
X = dummies_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [87]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [133]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

input_dims = len(X_train[0])

# First hidden layer
nn.add(tf.keras.layers.Dense(units=350, activation="relu", input_dim=input_dims))

# Add dropout layer
tf.keras.layers.Dropout(0.4)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=200, activation="relu"))

# Add dropout layer
tf.keras.layers.Dropout(0.4)

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=250, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_29"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_108 (Dense)           (None, 350)               40950

 dense_109 (Dense)           (None, 200)               70200

 dense_110 (Dense)           (None, 250)               50250

 dense_111 (Dense)           (None, 1)                 251

=================================================================
Total params: 161,651
Trainable params: 161,651
Non-trainable params: 0
_________________________________________________________________

In [134]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [135]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=90)

Epoch 1/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5708 - accuracy: 0.7207
Epoch 2/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5529 - accuracy: 0.7307
Epoch 3/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5495 - accuracy: 0.7328
Epoch 4/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5474 - accuracy: 0.7319
Epoch 5/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5457 - accuracy: 0.7346
Epoch 6/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5452 - accuracy: 0.7354
Epoch 7/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5440 - accuracy: 0.7353
Epoch 8/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5418 - accuracy: 0.7358
Epoch 9/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5423 - accuracy: 0.7348
Epoch 10/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5416 - accuracy: 0.7363
Epoch 11/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5403 - accuracy: 0.7364
Epoch 12/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5402 - accuracy: 0.7362
Epoch 13/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5387 - accuracy: 0.7367
Epoch 14/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5387 - accuracy: 0.7378
Epoch 15/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5377 - accuracy: 0.7372
Epoch 16/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5375 - accuracy: 0.7369
Epoch 17/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5371 - accuracy: 0.7386
Epoch 18/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5368 - accuracy: 0.7386
Epoch 19/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5364 - accuracy: 0.7381
Epoch 20/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5357 - accuracy: 0.7381
Epoch 21/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5354 - accuracy: 0.7388
Epoch 22/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5356 - accuracy: 0.7386
Epoch 23/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5354 - accuracy: 0.7393
Epoch 24/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5346 - accuracy: 0.7392
Epoch 25/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5340 - accuracy: 0.7393
Epoch 26/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5341 - accuracy: 0.7402
Epoch 27/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5344 - accuracy: 0.7394
Epoch 28/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5361 - accuracy: 0.7402
Epoch 29/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5331 - accuracy: 0.7401
Epoch 30/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5328 - accuracy: 0.7411
Epoch 31/90
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7409
Epoch 32/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5325 - accuracy: 0.7413
Epoch 33/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5321 - accuracy: 0.7411
Epoch 34/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5318 - accuracy: 0.7407
Epoch 35/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5313 - accuracy: 0.7407
Epoch 36/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5315 - accuracy: 0.7410
Epoch 37/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5323 - accuracy: 0.7411
Epoch 38/90
804/804 [==============================] - 2s 3ms/step - loss: 0.5333 - accuracy: 0.7411
Epoch 39/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5314 - accuracy: 0.7410
Epoch 40/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5305 - accuracy: 0.7415
Epoch 41/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5304 - accuracy: 0.7408
Epoch 42/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5300 - accuracy: 0.7420
Epoch 43/90
804/804 [==============================] - 2s 3ms/step - loss: 0.5295 - accuracy: 0.7417
Epoch 44/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5295 - accuracy: 0.7421
Epoch 45/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5302 - accuracy: 0.7417
Epoch 46/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5298 - accuracy: 0.7423
Epoch 47/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5297 - accuracy: 0.7417
Epoch 48/90
804/804 [==============================] - 2s 3ms/step - loss: 0.5292 - accuracy: 0.7419
Epoch 49/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5730 - accuracy: 0.7413
Epoch 50/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5307 - accuracy: 0.7413
Epoch 51/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5285 - accuracy: 0.7413
Epoch 52/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5282 - accuracy: 0.7422
Epoch 53/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5288 - accuracy: 0.7429
Epoch 54/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5285 - accuracy: 0.7423
Epoch 55/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5286 - accuracy: 0.7423
Epoch 56/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5332 - accuracy: 0.7420
Epoch 57/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5287 - accuracy: 0.7424
Epoch 58/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5294 - accuracy: 0.7421
Epoch 59/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5275 - accuracy: 0.7418
Epoch 60/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5271 - accuracy: 0.7423
Epoch 61/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5280 - accuracy: 0.7425
Epoch 62/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5273 - accuracy: 0.7426
Epoch 63/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5281 - accuracy: 0.7425
Epoch 64/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5271 - accuracy: 0.7421
Epoch 65/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5282 - accuracy: 0.7427
Epoch 66/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5287 - accuracy: 0.7426
Epoch 67/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5278 - accuracy: 0.7428
Epoch 68/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5269 - accuracy: 0.7423
Epoch 69/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5273 - accuracy: 0.7430
Epoch 70/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5271 - accuracy: 0.7428
Epoch 71/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5275 - accuracy: 0.7430
Epoch 72/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5316 - accuracy: 0.7424
Epoch 73/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5272 - accuracy: 0.7425
Epoch 74/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5265 - accuracy: 0.7427
Epoch 75/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5457 - accuracy: 0.7421
Epoch 76/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5267 - accuracy: 0.7426
Epoch 77/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5257 - accuracy: 0.7430
Epoch 78/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5255 - accuracy: 0.7432
Epoch 79/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5260 - accuracy: 0.7430
Epoch 80/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5259 - accuracy: 0.7436
Epoch 81/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5262 - accuracy: 0.7434
Epoch 82/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5259 - accuracy: 0.7432
Epoch 83/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5263 - accuracy: 0.7430
Epoch 84/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5263 - accuracy: 0.7435
Epoch 85/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5258 - accuracy: 0.7427
Epoch 86/90
804/804 [==============================] - 2s 3ms/step - loss: 0.5258 - accuracy: 0.7432
Epoch 87/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5255 - accuracy: 0.7438
Epoch 88/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5264 - accuracy: 0.7427
Epoch 89/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5263 - accuracy: 0.7430
Epoch 90/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5257 - accuracy: 0.7434

In [136]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6293 - accuracy: 0.7308 - 434ms/epoch - 2ms/step
Loss: 0.6292608976364136, Accuracy: 0.7308454513549805

In [137]:
# Export our model to HDF5 file
nn.save('HDF5 files/AlphabetSoupCharity2.h5')